
body{
    background-image: url(/Images/background.jpg);
    background-position: center;
}
/* -------Topic Selectors--------  */

/* 1. class selector */
#topic{
    color: darkblue;
}

.intro{
    color: red;
    font-size: 18px;
}

.selecls{
    color: rgb(209, 48, 48);
    font-size: 18px;
}

/* 2. ID selector */
#seleid{
    color: darkorange;
    font-size: 18px;
}

#selegroup{
    color: yellowgreen;
    font-size: 18px;
}

/* 3. Group Selector */
h1, p{
    text-align: center;
}


/* -------Topic CSS Box Model--------  */
.box{
    text-align: center;
    font-size: 50px;
    background-color: blue;
    color: yellow;
    margin: 10px;
    padding: 72px;
    height: 200px;
    box-sizing: border-box;
}

img{
    margin-left: 10px;
    width: 500px;
}

.container{
    display: flex;
    flex-direction: row;
}

#box2{
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:floralwhite;
    font-size: 20px;
}


